*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgba(0, 0, 0, 0.623);
    margin-top: 1em;
    max-width: 1500px;
    padding: 6px 0px;
    margin: auto;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-central{
    display: flex;
    padding-left: 5%;
    height: 33px;
}

#menu-central h3{
    color: white;
    padding: 0px 8px;
    line-height: 35px;
}

#selecionado{
    background-color: orange;
    height: 39px;
    width: 53px;
}

#menu-Direita{
    display: flex;
    align-items: center;
    padding-right: 5%;
}

#icones > span {
    padding: 0px 5px;
    font-size: 1.7em;
}

#carrinho > h6{
    font-size: 1em;
    color: white;
}

#carrinho > p{
    font-size: .8em;
    color: white;
}

/************************FIM HEADER*************************/

main{
    margin: 0px 2.1%;
}

#main-principal{
    background-image: url(imagens/cozinha.jpeg);
    background-repeat: no-repeat;
    max-width: 1500px;
    height: 600px;
    opacity: 0.9;
    margin: auto;
}

#textos-principal{
    padding-top: 200px;
    padding-left: 150px;
    color: white;
}

#textos-principal > h1{
    font-size: 2.5em;
}

#textos-principal > p {
    padding-top: 50px;
    padding-bottom: 20px;
}

#textos-principal > button{
    font-size: 1.5em;
    background-color: orange;
    color: white;
    border: none;
    padding: 8px;
}

#main-corpo{
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: -20px;
    max-width: 1100px;
    box-shadow: 1px -1px 10px black;
}

#main-corpo-parte1{
    display: flex;
    justify-content: space-around;
}

#main-corpo-parte1-esquerda{
    background-image: url(imagens/utensilios_4.jpg);
    background-position: left bottom;
    height: 280px;
    width: 500px;
    margin-top: 15px;
}

#main-corpo-parte1-esquerda-textos{
    margin-top: 60px;
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 6px black;
}

#main-corpo-parte1-esquerda-textos p:last-child{
    margin-top: 60px;
}

#main-corpo-parte1-direita{
    background-image: url(imagens/utensilios_5.jpg);
    height: 280px;
    width: 500px;
    margin-top: 15px;
}

#main-corpo-parte1-direita-textos{
    margin-top: 60px;
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 6px black;
}

#main-corpo-parte1-direita-textos p:last-child{
    margin-top: 60px;
}

#main-corpo-parte2-titulo h3{
    margin-top: 60px;
    margin-left: 25px;
    font-size: 1.5em;
}

#main-corpo-parte2-itens{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

#main-corpo-parte2-itens div{
    padding: 10px;
}

#main-corpo-parte2-itens1 img{
    width: 250px;
}

#main-corpo-parte2-itens2 img{
    width: 250px;
}

#main-corpo-parte2-itens3 img{
    width: 250px;
}

#main-corpo-parte2-itens4 img{
    width: 250px;
}

#main-corpo-parte2-banner{
    margin-left: 22px;
    background-image: url(imagens/cozinha_1.jpg);
    background-position: center center;
    width: 1060px;
    height: 250px;
}

#main-corpo-parte2-banner-textos{
    color: white;
    text-shadow: 1px 1px 6px black;
    padding-left: 20px;
    padding-top: 40px;
}

#main-corpo-parte2-banner-textos p{
    font-size: 1.2em;
    padding: 20px 0;
}

#main-corpo-parte2-banner-textos button{
    font-size: 1.1em;
    background-color: orange;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 20px;
}

#main-corpo-parte3{
    margin: 40px 0;
}

#main-corpo-parte3 h3{
    margin-left: 21px;
    font-size: 1.5em;
}

#main-corpo-parte3-itens{
    display: flex;
    margin-left: 20px;
}

#main-corpo-parte3-itens1{
    display: flex;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

#main-corpo-parte3-itens1-textos{
    margin-left: 10px;
    margin-top: 10px;
}

#main-corpo-parte3-itens1-textos h2{
    padding-bottom: 20px;
}

#main-corpo-parte3-itens1-textos p:last-child{
    margin-top: 20px;
}

#main-corpo-parte3-itens2{
    display: flex;
    margin-left: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

#main-corpo-parte3-itens2-textos{
    margin-left: 10px;
    margin-top: 5px;
}

#main-corpo-parte3-itens2-textos h2{
    padding-bottom: 20px;
}

#main-corpo-parte3-itens2-textos p:last-child{
    margin-top: 20px;
}

#main-corpo-parte3-itens1 img{
    width: 200px;
}

#main-corpo-parte3-itens2 img{
    width: 200px;
}